

<div class="panel panel-default">
    <div class="panel-body panel-chat">
        <form class="form-inline">
            
            <div id="loginBlock" class="input-group col-md-6">
                <input type="text" value="" class="form-control" id="userName" placeholder="Your name">
                <input id="loginBtn" type="button" value="Войти" />
            </div><br />

            <div class="input-group col-md-6" id="">
                <input type="text" value=""  class="form-control" id="message" placeholder="Your message">
                <input type="button" disabled="disabled" id="sendBtn" value="send" />
            </div>
        </form>
    </div>
    <div class="panel-footer">
        <ul id="chatroom"></ul>
    </div>
</div>